@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pantasia";
  src: url('./webfonts/PantasiaNovusBeta7-Regular.woff2') format('woff2'), url('./webfonts/PantasiaNovusBeta7-Regular.woff') format('woff');
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Pantasia";
  letter-spacing: .01em;
  background: white;
}

p {
  color: black;
  mix-blend-mode: difference;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
